<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "com.rhswebdev.r3"		versionCode=""		version   = "0.1">		<name>R3</name>		<description>Roosevelt High School Android App		</description>		<author href="" email="webdevrhs@gmail.com">RHS WebDev team		</author>		    <preference name="permissions" value="none"/>    <preference name="phonegap-version" value="3.7.0" />				<gap:platform name="android" />				<access origin="http://www.howardkam.com/lunch.js" />		<access origin="*" />	</widget>