/*Main background of all pages START*/
 html {
  background: url(abstractBackground1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Main background of all pages END*/
.normal {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 22px;
  color: white;
}
.title {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 30px;
  color: yellow;
}

#showTheDayName {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 22px;
  color: white;
}
#showTheLunch {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 30px;
  color: white;
}

#showSchedule {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 30px;
  color: white;
}
#showParentsDiv {
  background-color: black;
  opacity: 0.85;
  padding: 2px;
}
#showParentsNews {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 12px;
  color: white;
  opacity: 0.85;
}

.menuLabel {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.subMenuLabel {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 14px;
  color: black;
}

/*Slide and show START */
#stay-in-place {
    height: 100%;
    width: 100%;
    background: url(greenishpoly.png) no-repeat center center fixed;
     webkit-background-size: 80%;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    position: absolute;
}
#stay-in-place-Schedule {
    height: 100%;
    width: 100%;
    background: url(bluepoly.png) no-repeat center center fixed;
     webkit-background-size: 80%;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    position: absolute;
}

#move-in-to-place {
    position: absolute;
    bottom: -100%;
    height : 100%;
    width : 100%;
    background: #F3C56E;
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place {
    bottom: 0;
    -webkit-transition: all 0.25s, -webkit-transform 0.25s;
    transition: all 1s, transform 0.25s;
    width:100%;
    height:100%;
    opacity:1;
}

.box{
    position: relative;
    width:100%;
    height:25%;
    overflow:hidden;
}


/*Slide and show END*/

/*Option Boxe START*/
.option1 {
  float: left;
  background: url(blueAbstract.png);
  min-width: 50%;
  min-height: 30%;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: black;
}
.option2 {
  float: right;
  background: url(yellowAbstract.png);
  min-width: 50%;
  min-height: 30%;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: black;
}




/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}